.DS_Store
.idea
coding_practics/mvenv

sh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCY5Xz4zxWytejbO4HICr3z2NA100Via52zVplTBnO9dv0pRGpvaS/0zovbjWqjz+lrCCSr/XEJ+WJND+fmtGXDyMdC8kz8segLloziSTw/0XRTbJpYP1kj3tEkzlNdS/fSOP/1sFgi5oN/De3dHyZqHz90Rkbe9nOP5eTqYduw3IhR9cXCEi2WQA9hNuhiIEgVy4477EcDZAk2V4mbO966ZBHW4R6f9h3tSpbQcFN1y4dbQ8giWAHtc1MnQBMR4zliCyD6gflNCrEUN9oSHIfAA2jK+HunQXlzZ8wSvqR8R5X0qgI9zwGGC0kbJ7Ilr4GOoud4UreFY+kp/J9TsP5FTIhmbNh+lssI9autJ9OtTbqGUPUVdgB7WSsDaoYGBPrUhR3hPhK8SHFMijoNqoI7BlZnXIq9nswd0Wn65nlAV/1z6iae9YjYiXdEFYz3miZsaFtw5F3xQsAO+Su21951YAkedyzzagVjbs5jQhWB6cX5bLeC650xL2vHBzV5r14nf7/WBe0pBgOP09mg0EeYzkVEJqCZLpTNVbqDBbevwoYzQwtjJRxoyWQ1oIAZb3jkTHaffsLlzVtdqX4PJb9x27QuqoU/1KinfX9DpfRuvNe3FLFofSdMFVM1Z/OB6iTBWjFgGpUttBy+kRAth49M1bdK81a2XScQJx4Ngf7kQw== 


